.card-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    align-items: center;
    text-align: center;
    padding: 20px;
    border: none; /* Remove the border */
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
  }
  
  .card img {
    height: 100px;
    width: 100px;
    margin-right: 10px; /* Add margin-right to create spacing between image and text */
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }